RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

Options All -indexes

ErrorDocument 403 "http://localhost/KA19A/E403"
ErrorDocument 403 "http://localhost/KA19A/E404"

